@font-face {
    font-family: 'Mona Sans';
    font-weight: 100 900;
    src: url('./fonts/Mona-Sans.woff2') format('woff2');
}

.sidebar-container * {
    font-family: 'Mona Sans', sans-serif;
}

.sidebar-container .sidebar-item:not([data-nodetype="component"]) {
    padding: 12px 16px;
    padding-left: 64px;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #8C95A6;
}

.sidebar-container .sidebar-item:not([data-nodetype="component"]):hover, .sidebar-container .sidebar-item:not([data-nodetype="component"]):focus {
    /* background-color: #16191D; */
}

.sidebar-container .sidebar-item:not([data-nodetype="component"])[data-selected="true"] {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    padding: 12px 16px;
    padding-left: 64px;
    cursor: pointer;
    background: #0673f930;
    color: #0673f9;
}

.sidebar-container .sidebar-item:not([data-nodetype="component"])[data-selected="true"]:hover, .sidebar-container .sidebar-item:not([data-nodetype="component"])[data-selected="true"]:focus {
    background: #0673f930;
}

.sidebar-container .sidebar-item[data-nodetype="component"] {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    padding: 12px 16px;
    cursor: pointer;
    background: none !important;
}

.sidebar-container .sidebar-item[aria-expanded="true"] {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    padding: 12px 16px;
    cursor: pointer;
    background: none !important;
    /* color: #ffffff !important; */
}

.sidebar-container button.sidebar-item[aria-expanded="true"] ~ div {
    /* background: #0b0c0e; */
    border-left: 4px solid #0673f9;
}

.sidebar-container .sidebar-subheading {
    background: none !important;
}
