$neutral-0:   #FFFFFF;
$neutral-100: #F6F7F9;
$neutral-200: #EDEFF3;
$neutral-300: #E1E5EA;
$neutral-400: #C9CFD9;
$neutral-500: #B2B9C7;
$neutral-600: #8C95A6;
$neutral-700: #5B6271;
$neutral-750: #30363D;
$neutral-800: #23282F;
$neutral-900: #16191D;
$neutral-1000: #0B0C0E;

$brand-0:   #E5F1FF;
$brand-100: #C2DDFF;
$brand-200: #94C4FF;
$brand-300: #61A8FF;
$brand-400: #2989FF;
$brand-500: #0673F9;
$brand-600: #005ED1;
$brand-700: #004599;
$brand-800: #003270;
$brand-900: #002452;

$error-0:   #FFE5E7;
$error-100: #FBBBBF;
$error-200: #FA9499;
$error-300: #F8636B;
$error-400: #EE3F44;
$error-500: #D22D3A;
$error-600: #A01B22;
$error-700: #7E1219;
$error-800: #63080D;
$error-900: #4A040A;

$success-0: #D9FCED;
$success-100: #ACF7D3;
$success-200: #7EE7B8;
$success-300: #50CE99;
$success-400: #13B97C;
$success-500: #009965;
$success-600: #007A51;
$success-700: #005C3D;
$success-800: #003D29;
$success-900: #002D1E;

$warning-0: #FFF1E5;
$warning-100: #FFD2BA;
$warning-200: #FFB286;
$warning-300: #FD9254;
$warning-400: #F37216;
$warning-500: #DE5A02;
$warning-600: #A83E00;
$warning-700: #802D00;
$warning-800: #5C1F00;
$warning-900: #441704;

$yellow-0: #FFF3D6;
$yellow-100: #FFE4AD;
$yellow-200: #FFD580;
$yellow-300: #FEC553;
$yellow-400: #FEB000;
$yellow-500: #F59700;
$yellow-600: #D17300;
$yellow-700: #944500;
$yellow-800: #5C2900;
$yellow-900: #3D1A00;

$purple-0: #F5E5FF;
$purple-100: #E1D1FF;
$purple-200: #CEBCFE;
$purple-300: #B49DFE;
$purple-400: #967CFD;
$purple-500: #7B55EE;
$purple-600: #6138D3;
$purple-700: #46279B;
$purple-800: #331D72;
$purple-900: #221056;

.grauity-init {
    --icon-color-white: #{$neutral-0};
    --icon-color-black: #{
        $neutral-900
    };
    --icon-color-grey: #{
        $neutral-800
    };
    --icon-color-brand: #{
        $brand-600
    };
    --icon-color-error: #{
        $error-600
    };
    --icon-color-success: #{
        $success-700
    };
    --icon-color-warning: #{
        $warning-700
    };
    --icon-color-yellow: #{
        $yellow-600
    };
    --icon-color-purple: #{
        $purple-600
    };

    --disabled-icon-color-white: #{
        $neutral-0
    };
    --disabled-icon-color-black: #{
        $neutral-900
    };
    --disabled-icon-color-grey: #{
        $neutral-700
    };
    --disabled-icon-color-brand: #{
        $brand-400
    };
    --disabled-icon-color-error: #{
        $error-300
    };
    --disabled-icon-color-success: #{
        $success-400
    };
    --disabled-icon-color-warning: #{
        $warning-400
    };
    --disabled-icon-color-yellow: #{
        $yellow-400
    };
    --disabled-icon-color-purple: #{
        $purple-400
    };
}
