@import "colors";
@import "alpha";

$text-primary: $neutral-0;
$text-secondary: $neutral-600;
$text-disabled: $neutral-700;
$text-action: $neutral-0;
$text-action2: $neutral-900;
$text-brand: $brand-300;
$text-success: $success-300;
$text-error: $error-300;
$text-warning: $warning-300;
$text-yellow: $yellow-500;
$text-purple: $purple-300;
$text-colour-secondary: $alpha-80;
