$gui-icons-font: "gui-icons";

@font-face {
    font-family: $gui-icons-font;
    src: url("fonts/gui-icons.eot?192bf507b968681bff3b97e42b7384a6#iefix") format("embedded-opentype"),
url("fonts/gui-icons.woff?192bf507b968681bff3b97e42b7384a6") format("woff"),
url("fonts/gui-icons.woff2?192bf507b968681bff3b97e42b7384a6") format("woff2"),
url("fonts/gui-icons.ttf?192bf507b968681bff3b97e42b7384a6") format("truetype");
}

i[class^="gui-icon-"]:before, i[class*=" gui-icon-"]:before {
    font-family: gui-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$gui-icons-map: (
    "school-left": "\f101",
    "school": "\f102",
    "code": "\f103",
    "today": "\f104",
    "person": "\f105",
);

.gui-icon-school-left:before {
    content: map-get($gui-icons-map, "school-left");
}
.gui-icon-school:before {
    content: map-get($gui-icons-map, "school");
}
.gui-icon-code:before {
    content: map-get($gui-icons-map, "code");
}
.gui-icon-today:before {
    content: map-get($gui-icons-map, "today");
}
.gui-icon-person:before {
    content: map-get($gui-icons-map, "person");
}
