@import "colors";
@import "alpha";

$text-primary: $neutral-900;
$text-secondary: $neutral-700;
$text-disabled: $neutral-600;
$text-action: $neutral-0;
$text-action2: $neutral-0;
$text-brand: $brand-500;
$text-success: $success-600;
$text-error: $error-500;
$text-warning: $warning-500;
$text-yellow: $yellow-500;
$text-purple: $purple-500;
$text-colour-secondary: $alpha-80;
